<h3>Add New Product</h3>
<div class="container">
    @{ Html.BeginForm();}
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Enter student Name")
        </div>
        <div class="col-lg-3">
            @Html.TextBox("name")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Enter Student Percentage")
        </div>
        <div class="col-lg-3">
            @Html.TextBox("percentage")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
    @{Html.EndForm();}
</div>
